/*main stylesheet for FTG study blog*/

*{
    margin:0;
    padding:0;

}
header{
    width:100%;
    /*font-size:40px;*/
    /*text-align:center;*/
    background:black;
    /*color:white;*/
    /*display:block;*/
    /*font-weight:bold;*/
    height:44px;
    position:fixed;
    display:block;
    /*border:1px solid black;*/
}
.logo {
    font-weight:bold;
    color:white;
    font-size:30px;
    display:block;
    float:left;
    margin:5px 20px 10px;

}
.top-nav{
    /*margin-left:10px;*/
    /*list-style-type:none;*/
    font-size:30px;
    /*display:inline;*/
    overflow:hidden;

}
.top-nav ul{
    margin:9px 0 0 10px;
}
.top-nav li{
    list-style-type:none;
    /*float:left;*/
    font-size:30px;
    border: 1px solid white;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    background:#484848;
    color:white;
    font-weight:bold;
    /*margin-right:10px;*/
    display:inline;
}
.top-nav li a{
    color:white;
    text-decoration:none;
}
.top-nav li .active{
    color:dodgerblue;
}
.top-nav li:hover{
    background:blue;
}
body{
    background:gray;
}
footer{
    background:black;
    color:white;
    width:100%;
    text-align:center;
    bottom:0;
    position:fixed;
}
.main-frame {
    margin:0 auto;
    width:80%;
    padding-top:50px;
    /*padding:0 10px;*/
    /*min-width:800px;*/
    max-width:1960px;
    /*position:absolute;*/
}
.declare{
    width:26%;
    margin-top:10px;
    float:right;
    /*overflow:hidden;*/
    background:white;
    border-radius:10px;
    /*position:fixed;*/
    /*right:10px;*/
    /*top:56px;*/
    display:block;
    padding:5px;
    font-size:30px;
    /*position:relative;*/

}
.declare img{
    width:100%;
    border-radius:200px;
}
.article {
    width:70%;
    float:left;

    /*margin-right:10px;*/
    min-width:500px;
    /*overflow:hidden;*/
}
.box01{
    background:white;
    border-radius:10px;
    width:100%;
    padding:10px;
    overflow:hidden;
    margin:10px 10px 0 0 ;
    font-size:30px;
}
.box01 img{
    width:80%;

}
