/*手风琴效果学习专用stylesheet*/

* {
    margin:0;
    padding:0;
}

#box {
    width:1008px;
    height:260px;
    margin:200px auto;
    overflow:hidden;
}
#box ul {
    width:1050px;
}
#box ul li {
    list-style-type: none;
    width:144px;
    height:260px;
    float:left;
    position:relative;

}
.img {
    width:100%;
    height:100%;
    background-position:center;

}
.shadow {
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position:absolute;
    left:0;
    top:0;

}
.shadow h2 {
    width:20px;
    margin:20px auto;
    color:white;


}