body{
    background: gray;
}
.box01 {
    background: #fff;
    padding: 20px;
}
.box01 h2 {
    border-left: 5px solid gray;
    padding-left: 5px;
}
.form-left{
    width: 30%;
    display: inline-block;
    text-align: right;
}
.box01 form input, .box01 textarea {
    margin-left: 1%;
}
.form-right {
    margin-left: 1%;
    display: inline;
}
.box01 p {
    margin-left: 31.5%;
}
#submit01 {
    width: 100%;
    background: blue;
    color: #fff;
}

